[Desktop Entry]
Name=Grok Bot
GenericName=Grok Bot
Comment=Grok Bot (unofficial Debian Bookworm build)
Exec=grok-bot %U
TryExec=grok-bot
Icon=grok-bot
Terminal=false
Type=Application
Categories=Network;
Keywords=Grok;Bot;xAI;Cursor;
StartupNotify=true
StartupWMClass=Grok Bot
MimeType=x-scheme-handler/grokbot;x-scheme-handler/sand;
DBusActivatable=false
