[Desktop Entry]
Name=Grok Bot
GenericName=Grok Bot
Comment=Grok Bot (unofficial Linux build)
Exec=grok-bot --no-sandbox --class=grok-bot %U
TryExec=grok-bot
Icon=grok-bot
Terminal=false
Type=Application
Categories=Network;Utility;
Keywords=Grok;Bot;xAI;Cursor;
StartupNotify=true
StartupWMClass=grok-bot
MimeType=x-scheme-handler/grokbot;x-scheme-handler/sand;
DBusActivatable=false
